h6{
    color: white;
}

.teks{
    text-align: justify;
}

.about{
    background: linear-gradient(to bottom, #9999ff 44%, #6666ff 100%);
}

.services{
    background: linear-gradient(to bottom, #9999ff 44%, #6666ff 100%);
}

